
@Styles.Render("~/Content/css")
<div>
    <div class="container row ">
        <div class="col-12">
            <a href="@Url.Action("Index", "Home")" style="text-decoration:none">
                <div class="col-6" style="position:relative;top:20px">
                    <h3 style="color:azure;font-weight:700;text-decoration:none;">NT-Travel and Tourism</h3>
                </div>
            </a>
            <div>
                @if (Session["USERNAME"] == null)
                {
                    <div style="float:right">
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500" href="@Url.Action("Register", "User")">Register</a>
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500" href="@Url.Action("Login", "User")">Sign in</a>
                    </div>
                }
                else
                {
                    <div style="float:right">
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500">Booking History</a>
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500" href="@Url.Action("Logout", "User")">Sign out</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container row">
        <ul class="nav nav-pills">
            <li class="nav-item me-3">
                <a class="btn" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkblue" href="@Url.Action("PackagePage", "Home")">
                    <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">travel_explore</i>   Packages
                </a>
            </li>
            <li class="nav-item me-3">
                <a class="btn" style="font-weight: 300;border-radius:20px; color: azure; background-color: darkblue" href="@Url.Action("FlightPage", "Home")">
                    <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">flight</i>   Flights
                </a>
            </li>
            <li class="nav-item me-3">
                <a class="btn" style="font-weight: 300; border-radius: 20px; color: azure; background-color: darkblue" href="@Url.Action("HotelPage", "Home")">
                    <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">bed</i>   Hotels
                </a>
            </li>
        </ul>
    </div>
    <div class="container row" style="padding-top:70px">
        <p style="font-size:45px;color:azure;font-weight:700">
            Find your next stay
        </p>
        <p style="font-size:20px;color:azure;font-weight:300">
            Search deals on travels, hotels, flights, and much more...
        </p>
    </div>
    <div class="container row" style="position: relative; top: 59px">
        <div class="btn-group" role="group" aria-label="Basic outlined example" style="height: 70px; background-color: white; border: solid; border-color: darkgoldenrod; border-width: 5px;border-radius:10px">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top:9px;font-size:20px;width:400px;background-color: white">
                <i class="material-symbols-outlined" style="vertical-align:middle;font-size:30px">bed</i>
                <input type="text" id="item-search" style="border:none;outline: none; vertical-align: middle; width: 400px ;margin-top:3px" placeholder="Where are you going?">
            </a>
            <a class="btn" style="background-color: white; border: solid; border-color: darkgoldenrod; border-width: 5px; border-top: none; border-bottom: none; vertical-align: middle;margin-top:-1px">
                <i class="material-symbols-outlined" style="vertical-align:middle">calendar_month</i>Check-in Date -- Check-out Date<br />
                <input style="border:none" type="date" id="calendar" name="calendar" />|
                <input style="border:none" type="date" id="calendar" name="calendar" />
            </a>
            <a class="btn" style="background-color:dodgerblue; vertical-align: top;">Search</a>
        </div>
    </div>
</div>
