@model FundamentalProject.Models.CUSTOMER
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div style="background-color:darkblue; padding: 20px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="~/Home/Index" class="text-decoration-none">
                        <h3 style="color:azure;font-weight:700">NT-Travel and Tourism</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="position:relative;top:30px">
        <div style="display: flex; justify-content: center; height: 75vh; margin-bottom: 100px">
            <form style="border: solid; border-width: 3px; border-radius: 10px; padding: 20px; box-sizing: border-box; display: inline-block" action="/User/Register" method="post">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2 style="text-align:center">Register</h2>

                <label class="form-label" style="font-weight:bold">Email </label>@Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                <input type="email" class="form-control" placeholder="name@gmail.com" style="min-width:500px" name="EMAIL">


                <label class="form-label" style="font-weight:bold">Phone number </label>@Html.ValidationMessageFor(model => model.PHONENUMBER, "", new { @class = "text-danger" })
                <input type="text" class="form-control" placeholder="Phone number" style="min-width:500px" name="PHONENUMBER">


                <label class="form-label" style="font-weight:bold">Address </label>@Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                <input type="text" class="form-control" placeholder="Address" style="min-width:500px" name="ADDRESS">


                <label class="form-label" style="font-weight:bold">Username </label>@Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                <input type="text" class="form-control" placeholder="Your username" style="min-width:500px" name="USERNAME">


                <label class="form-label" style="font-weight:bold">Password </label> @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                <input type="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Password" style="min-width:500px" name="PASSWORD">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain at least one uppercase letter, <br /> one lowercase letter, one number and one special character
                </div>

                <label class="form-label" style="font-weight:bold">Confirm Password </label>@Html.ValidationMessageFor(model => model.CONFIRMPASSWORD, "", new { @class = "text-danger" })
                <input type="password" class="form-control" placeholder="Confirm Password" style="min-width:500px" name="CONFIRMPASSWORD">


                <div style="padding-top: 40px; text-align: center;">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>
        </div>
        <div style="padding-top: 30px; text-align: center;">
            <div class="row justify-content-center">
                <hr class="col-md-4 my-3">
                <p class="col-md-4 text-center" style="font-size: 20px;">or use one of these options</p>
                <hr class="col-md-4 my-3">
            </div>
            <a class="btn" style="width: 100px; height: 100px; position: relative; font-weight: 400; font-size: 24px; background-color: snow; border: solid; margin: 10px;" href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=https%3A%2F%2Fmail.google.com&ec=GAlAFw&hl=en&service=mail&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S-1408514349%3A1696911969386288&theme=glif">
                <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16" style="display: block; margin: 0 auto; padding-bottom: 5px">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                    </svg>
                </div>
            </a>
            <a class="btn" style="width: 100px; height: 100px; position: relative; font-weight: 400; font-size: 24px; background-color: snow; border: solid; margin: 10px;" href="https://appleid.apple.com/sign-in">
                <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16" style="display: block; margin: 0 auto;padding-bottom:10px">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                    </svg>
                </div>
            </a>
            <a class="btn" style="width: 100px; height: 100px; position: relative; font-weight: 400; font-size: 24px; background-color: snow; border: solid; margin: 10px;" href="https://www.facebook.com/">
                <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" style="display: block; margin: 0 auto; padding-bottom: 5px">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
